@import url(https://fonts.googleapis.com/css?family=Slabo+27px);


#ext_menu-0 .navbar-toggler {
  color: #000;
}
#msg-box2-1 H2 {
  font-family: 'Slabo 27px', serif;
}
#msg-box2-26 H2 {
  font-family: 'Slabo 27px', serif;
}
#ext_menu-2 .navbar-toggler {
  color: #000;
}
#ext_menu-1b .navbar-toggler {
  color: #000;
}
#ext_menu-1u .navbar-toggler {
  color: #000;
}
#ext_menu-24 .navbar-toggler {
  color: #000;
}
#ext_menu-27 .navbar-toggler {
  color: #000;
}
